
            .gradient-card{
                left: 5%;
                width:400px;
                height: 200px;
                background: linear-gradient(to right,
                                             #40e0d0,
                                             #ff8c00,
                                             #ff0080);
                                           position:absolute;
                                             border-radius: 10px;
                                             

            }
            .gradient2{
                left:5%;
                width: 400px;
                height:200px;
                background: linear-gradient(to left,
                                              white,
                                             blue,
                                             black);
                position:absolute;
                border-radius: 10px;

            }
            .gradient3{
                left:5%;
                width:400px;
                height: 200px;
                background:linear-gradient(  to bottom, black,red,white);
                position:absolute;
                border-radius:10px ;
            }
            .gradient4{
                left:5%;
                width:400px;
                height: 200px;
                background:linear-gradient(  to top, green,yellow,white);
                position:absolute;
                border-radius:10px ;
            }
            .gradient5{
                left:5%;
                width:400px;
               height: 200px;
                background:linear-gradient( to bottom right, blue,white,black);
                position:absolute;
                border-radius:10px ;
            }
            .gradient6{
                left:5%;
                width:400px;
                height: 200px;
                background:linear-gradient( to right,rgba(172, 58, 58, 0),rgb(48, 173, 173) );
                position:absolute;
                border-radius:10px ;
            }
    
        